# Part 1: File Download, Database Storage

## Import relevant libraries

In [25]:
import pandas as pd
import csv
import requests
from bs4 import BeautifulSoup

## Edit the Pipe Delimited 510k text database

In [26]:
read_file = open('/Users/kevinmcpherson/tractus/text_data/510k.txt','rt', errors = 'ignore')

In [27]:
write_file = open('/Users/kevinmcpherson/tractus/csv_data/510k.csv', 'w+t', encoding= 'utf8')

In [28]:
with read_file:
    with write_file:
        csv.writer(write_file, delimiter=',').writerows(csv.reader(read_file, delimiter='|'))

## Reassign Write File to DataFrame and Get K-Numbers

In [29]:
knumbers = pd.read_csv('/Users/kevinmcpherson/tractus/csv_data/510k.csv')

In [30]:
knumbers.head()

,KNUMBER,APPLICANT,CONTACT,STREET1,STREET2,CITY,STATE,COUNTRY_CODE,ZIP,POSTAL_CODE,...,DECISION,REVIEWADVISECOMM,PRODUCTCODE,STATEORSUMM,CLASSADVISECOMM,SSPINDICATOR,TYPE,THIRDPARTY,EXPEDITEDREVIEW,DEVICENAME
0,DEN000001,OHMEDA MEDICAL,DANIEL KOSEDNAR,P.O. BOX 7550,NaN,MADISON,WI,US,53707-7550,53707-7550,...,DENG,AN,MRN,NaN,AN,NaN,Post-NSE,N,NaN,OHMEDA INOVENT DELIVERY SYSTEM
1,K000001,"BOSTON SCIENTIFIC SCIMED, INC.",RON BENNETT,5905 NATHAN LN.,NaN,MINNEAPOLIS,MN,US,55442,55442,...,SESE,SU,JCT,Summary,SU,NaN,Traditional,N,NaN,WALLGRAFT TRACHEOBRONCHIAL ENDOPROSTHESIS AND ...
2,DEN000002,"UROSURGE, INC.",STEVEN J PREISS,2660 CROSSPARK RD.,NaN,CORALVILLE,IA,US,52241,52241,...,DENG,GU,NAM,NaN,GU,NaN,Post-NSE,N,NaN,UROSURGE PERCUTANEOUS SANS (STOLLER AFFERENT N...
3,K000002,"USA INSTRUMENTS, INC.",RONY THOMAS,1515 DANNER DR.,NaN,AURORA,OH,US,44202,44202,...,SESE,RA,MOS,Summary,RA,NaN,Traditional,N,NaN,MAGNA 5000 PHASED ARRAY CTL SPINE COIL
4,K000003,TORNIER,DAVID W SCHLERF,200 GREGORY LN.,SUITE C-100,PLEASANT HILL,CA,US,94523-3389,94523-3389,...,SESE,OR,JDC,Summary,OR,NaN,Traditional,N,NaN,TORNIER TOTAL ELBOW PROSTHESIS

In [31]:
knumbers = knumbers[['DECISIONDATE','KNUMBER']]

In [36]:
knumbers['DECISIONDATE'] = pd.to_datetime(knumbers['DECISIONDATE'])
knumbers['DECISIONDATE'] = knumbers['DECISIONDATE'].dt.year

In [37]:
knumbers.head()

   DECISIONDATE    KNUMBER
0          2000  DEN000001
1          2000    K000001
2          2000  DEN000002
3          2000    K000002
4          2000    K000003

In [49]:
knumbers.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81407 entries, 0 to 81406
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DECISIONDATE  81407 non-null  int64
 1   KNUMBER       81407 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

In [50]:
knumbers['DECISIONDATE'] = knumbers['DECISIONDATE'].astype(str)
knumbers['KNUMBER'] = knumbers['KNUMBER'].astype(str)

In [51]:
date_number_pairs = list(zip(knumbers.DECISIONDATE, knumbers.KNUMBER))

In [52]:
URL = 'https://www.accessdata.fda.gov/cdrh_docs/pdf{}/{}.pdf'

In [73]:
write_file = open('/Users/kevinmcpherson/tractus/text_data/510k_urls.txt', 'w+t', encoding= 'utf8')
with write_file as w: 
    for date, number in date_number_pairs:
        w.write(URL.format(date[-2:],number)+'\n')
    w.close()

In [74]:
open_file = open('/Users/kevinmcpherson/tractus/text_data/510k_urls.txt', 'r')

In [ ]:
with open_file as o:
    for url in url.file:
        urllib.request(url)