# Part 1: File Download, Database Storage

## Import relevant libraries

In [63]:
import pandas as pd
import csv
import requests
from bs4 import BeautifulSoup

## Edit the Pipe Delimited 510k text database

In [64]:
read_file = open('/Users/kevinmcpherson/tractus/text_data/510k.txt','rt', errors = 'ignore')

In [65]:
write_file = open('/Users/kevinmcpherson/tractus/csv_data/510k.csv', 'w+t', encoding= 'utf8')

In [66]:
with read_file:
    with write_file:
        csv.writer(write_file, delimiter=',').writerows(csv.reader(read_file, delimiter='|'))

## Reassign Write File to DataFrame and Get K-Numbers

In [67]:
knumbers = pd.read_csv('/Users/kevinmcpherson/tractus/csv_data/510k.csv')

In [68]:
knumbers = knumbers[['KNUMBER']]

In [75]:
knumbers

         KNUMBER
0      DEN000001
1        K000001
2      DEN000002
3        K000002
4        K000003
...          ...
81402    K994435
81403    K994436
81404    K994437
81405    K994438
81406    K994439

[81407 rows x 1 columns]

pandas.core.frame.DataFrame