# Part 1: File Download, Database Storage

## Import relevant libraries

In [1]:
import pandas as pd
import csv
import requests
from bs4 import BeautifulSoup

## Edit the Pipe Delimited 510k text database

In [16]:
read_file = open('/Users/kevinmcpherson/tractus/text_data/510k.txt','rt', errors = 'ignore')

In [17]:
write_file = open('/Users/kevinmcpherson/tractus/csv_data/510k.csv', 'w+t', encoding= 'utf8')

In [18]:
with read_file:
    with write_file:
        csv.writer(write_file, delimiter=',').writerows(csv.reader(read_file, delimiter='|'))

## Reassign Write File to DataFrame and Get K-Numbers

In [19]:
knumbers = pd.read_csv('/Users/kevinmcpherson/tractus/csv_data/510k.csv')

In [20]:
knumbers.dropna(how = 'any')
knumbers.head()

,KNUMBER,APPLICANT,CONTACT,STREET1,STREET2,CITY,STATE,COUNTRY_CODE,ZIP,POSTAL_CODE,...,DECISION,REVIEWADVISECOMM,PRODUCTCODE,STATEORSUMM,CLASSADVISECOMM,SSPINDICATOR,TYPE,THIRDPARTY,EXPEDITEDREVIEW,DEVICENAME
0,DEN000001,OHMEDA MEDICAL,DANIEL KOSEDNAR,P.O. BOX 7550,NaN,MADISON,WI,US,53707-7550,53707-7550,...,DENG,AN,MRN,NaN,AN,NaN,Post-NSE,N,NaN,OHMEDA INOVENT DELIVERY SYSTEM
1,K000001,"BOSTON SCIENTIFIC SCIMED, INC.",RON BENNETT,5905 NATHAN LN.,NaN,MINNEAPOLIS,MN,US,55442,55442,...,SESE,SU,JCT,Summary,SU,NaN,Traditional,N,NaN,WALLGRAFT TRACHEOBRONCHIAL ENDOPROSTHESIS AND ...
2,DEN000002,"UROSURGE, INC.",STEVEN J PREISS,2660 CROSSPARK RD.,NaN,CORALVILLE,IA,US,52241,52241,...,DENG,GU,NAM,NaN,GU,NaN,Post-NSE,N,NaN,UROSURGE PERCUTANEOUS SANS (STOLLER AFFERENT N...
3,K000002,"USA INSTRUMENTS, INC.",RONY THOMAS,1515 DANNER DR.,NaN,AURORA,OH,US,44202,44202,...,SESE,RA,MOS,Summary,RA,NaN,Traditional,N,NaN,MAGNA 5000 PHASED ARRAY CTL SPINE COIL
4,K000003,TORNIER,DAVID W SCHLERF,200 GREGORY LN.,SUITE C-100,PLEASANT HILL,CA,US,94523-3389,94523-3389,...,SESE,OR,JDC,Summary,OR,NaN,Traditional,N,NaN,TORNIER TOTAL ELBOW PROSTHESIS

In [21]:
codes = knumbers['PRODUCTCODE'].unique().tolist()

with open("prodcodes.txt", "w") as output:
    output.write(str(codes))

In [8]:
knumbers = knumbers[['DECISIONDATE','KNUMBER']]

In [9]:
knumbers['DECISIONDATE'] = pd.to_datetime(knumbers['DECISIONDATE'])
knumbers['DECISIONDATE'] = knumbers['DECISIONDATE'].dt.year

In [10]:
knumbers.head()

   DECISIONDATE    KNUMBER
0          2000  DEN000001
1          2000    K000001
2          2000  DEN000002
3          2000    K000002
4          2000    K000003

In [13]:
knumbers.groupby('DECISIONDATE').count()

              KNUMBER
DECISIONDATE
1996             4407
1997             4309
1998             3775
1999             3554
2000             3452
2001             3494
2002             3685
2003             3516
2004             3373
2005             3156
2006             3217
2007             2987
2008             3053
2009             3008
2010             2807
2011             3126
2012             3137
2013             3054
2014             3204
2015             3024
2016             2957
2017             3207
2018             3067
2019             2918
2020             1920

In [18]:
knumbers.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81407 entries, 0 to 81406
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DECISIONDATE  81407 non-null  int64
 1   KNUMBER       81407 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

In [19]:
# knumbers['DECISIONDATE'] = knumbers['DECISIONDATE'].astype(str)
# knumbers['KNUMBER'] = knumbers['KNUMBER'].astype(str)

In [20]:
date_number_pairs = list(zip(knumbers.DECISIONDATE, knumbers.KNUMBER))

In [21]:
URL = 'https://www.accessdata.fda.gov/cdrh_docs/reviews/{}.pdf'

In [23]:
write_file = open('/Users/kevinmcpherson/tractus/text_data/reviews_urls.txt', 'w+t', encoding= 'utf8')
with write_file as w: 
    for date, number in date_number_pairs:
#         if date > 2009:
#             w.write(URL.format(str(number)+'\n')
#         elif date < 2009 and date > 2001:
#             w.write(URL.format(str(number)+'\n')
#         else:
            w.write(URL.format(number)+'\n')
    w.close()

In [24]:
# open_file = open('/Users/kevinmcpherson/tractus/text_data/510k_urls.txt', 'r')
open_file = open('/Users/kevinmcpherson/tractus/text_data/reviews_urls.txt', 'r')

In [88]:
with open_file as o:
    for url in url.file:
        urllib.request(url)

NameError: name 'url' is not defined